In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
excel_data_filename = r'Basis State Industry List 071621.xlsx'
excel_industries_filename = r'Basis State Industries 210701.xlsx'
excel_industries_range = r'B6:B105'

In [3]:
training_df = pd.read_excel(os.path.join('data', excel_data_filename), 
                            sheet_name=r'Training List',
                            engine='openpyxl')
training_df

,Organization - ID,Organization - Name,Organization - Website,Organization - CB Description,Organization - Company Type,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription
0,440,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,Acquirer,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN
1,898,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...",Acquirer,"Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN
2,930,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...",Acquirer,"Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN
3,965,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,Acquirer,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN
4,296,AARP,http://www.aarp.org,NaN,Acquirer,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2164,48844,Healthtrust Workforce Solutions,https://healthtrustjobs.com/,NaN,Acquirer,NaN,NaN,NaN,NaN,NaN,NaN
2165,48845,Signature Consultants,https://www.sigconsult.com/,NaN,Acquirer,NaN,NaN,NaN,NaN,NaN,NaN
2166,48846,Acro Service Corporation,https://www.acrocorp.com/,NaN,Acquirer,NaN,NaN,NaN,NaN,NaN,NaN
2167,48847,DISYS,https://www.disys.com/,NaN,Acquirer,NaN,NaN,NaN,NaN,NaN,NaN
2168,48848,Supplemental Health Care,https://www.shccares.com/,NaN,Acquirer,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
all_data_df = pd.read_excel(os.path.join('data', excel_data_filename), 
                            sheet_name=r'All Acquirers',
                            engine='openpyxl')
all_data_df

,Organization - ID,Organization - Name,Organization - Website,Organization - CB Description,Organization - Company Type,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription
0,49945,TeleTech,https://www.ttecjobs.com/,NaN,Acquirer,NaN,10001+,Telecommunications,"customer, technology, talent, community, caree...",NaN,NaN
1,31314,OPSIFY,http://www.opsify.com,"On-demand, technology-enabled business service...",Acquirer,"Business Development, Business Intelligence, C...",501-1000,Corporate Services - Scaled Outbound Operations,"operations, opsify, company, business, process...",NaN,NaN
2,49952,Callbox,https://www.callbox.com/,NaN,Acquirer,NaN,NaN,Corporate Services - Scaled Outbound Operations,"phone, practices, dental, veterinary, automoti...",NaN,NaN
3,49970,Quantum Workplace,http://www.quantumworkplace.com,NaN,Acquirer,NaN,51-100,SAAS - Finance/HR - Human Resources,"engagement, employee, success, teams, performa...",NaN,NaN
4,44273,UJET,https://ujet.co/,UJETâ€™s cloud contact center solutions help o...,Acquirer,"Call Center, Communications Infrastructure, Cu...",101-250,SAAS - Contact Center Software,"contact, experience, smartphone, customer, clo...",NaN,UJET is the world's first and only cloud conta...
...,...,...,...,...,...,...,...,...,...,...,...
48757,50826,Seattle Bank,https://www.seattlebank.com/,NaN,Acquirer,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN
48758,50828,Civis Bank,https://civisbank.com/,NaN,Acquirer,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN
48759,50829,OV Loop,https://www.ovloop.com/,NaN,Acquirer,NaN,NaN,Computer Software - Finance/Banking - Digital ...,0,NaN,NaN
48760,50830,Silverbills,https://silverbills.com/,NaN,Acquirer,NaN,NaN,Computer Software - Finance/Banking - Digital ...,0,NaN,NaN
48761,50831,First Republic Bank,https://www.firstrepublic.com/,NaN,Acquirer,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN

In [5]:
from openpyxl import load_workbook

industries = []
wb = load_workbook(os.path.join('data', excel_industries_filename))
ws = wb[r'Industries']
for row in ws[excel_industries_range]:
    for cell in row:
        industries.append(cell.value)
        
industries

['Automotive - Car Manufacturing',
 'Biotechnology',
 'Civic, Non-Profit and Membership Groups',
 'Computer Hardware',
 'Computer Software',
 'Computer Software - C2C Marketplace',
 'Computer Software - Finance/Banking - Digital Banking',
 'Computer Software - Gig Marketplace',
 'Computer Software - Leisure, Sports and Recreation',
 'Computer Software - Online Education',
 'Consumer Product Manufacturing',
 'Consumer Services - Automotive',
 'Consumer Services - Cleaning Services',
 'Consumer Services - Real Estate Brokers',
 'Corporate Services',
 'Corporate Services - Consulting',
 'Corporate Services - Market Research',
 'Corporate Services - Performance Marketing Agency',
 'Corporate Services - Recruiting Agency',
 'Corporate Services - Scaled Client Success Operations',
 'Corporate Services - Scaled Outbound Operations',
 'Corporate Services - Trade Show Organizers',
 'Educational Services',
 'Energy and Environmental - Carbon Measurement & Mgmt',
 'Energy and Environmental - Carbon Offset Supplier',
 'Energy and Environmental - Oil and Gas',
 'Energy and Environmental - Utilities',
 'Finance/Banking - Bank',
 'Finance/Banking - Credit Union',
 'Finance/Banking - CUSO',
 'Finance/Banking - Financial Services',
 'Finance/Banking - Financial Services - Credit Card Issuer',
 'Finance/Banking - Finanical Services - Monitoring',
 'Food and Beverage - Grocery',
 'Insurance',
 'Leisure, Sports and Recreation - Fitness Brands',
 'Leisure, Sports and Recreation - Fitness Chains',
 'Leisure, Sports and Recreation - Fitness Technology',
 'Leisure, Sports and Recreation - Hotels & Resorts',
 'Leisure, Sports and Recreation - Lifestyle Brands',
 'Leisure, Sports and Recreation - Restaurants, Bars and Eateries',
 'Media - Educational Publishing',
 'Media - Publication Tool',
 'Media - Publishing',
 'Media - Social Media',
 'Private Equity',
 'Retail - Fashion',
 'Retail - General Retailers',
 'Retail - Internet Retail',
 'SAAS - Advertising Tech',
 'SAAS - Agtech',
 'SAAS - AI',
 'SAAS - AI - Data/Analytics',
 'SAAS - AI - Machine Learning',
 'SAAS - Automotive',
 'SAAS - Banking Platform',
 'SAAS - Cannabis',
 'SAAS - Construction',
 'SAAS - Contact Center Software',
 'SAAS - Contractor Engagement',
 'SAAS - Customer Service',
 'SAAS - Document Management',
 'SAAS - eCommerce',
 'SAAS - EdTech',
 'SAAS - Email Marketing',
 'SAAS - Energy',
 'SAAS - Feedback',
 'SAAS - Finance/HR - Accounting',
 'SAAS - Finance/HR - ERP',
 'SAAS - Finance/HR - Expense Reporting',
 'SAAS - Finance/HR - Human Resources',
 'SAAS - Finance/HR - Payroll',
 'SAAS - Finance/HR - Recruiting',
 'SAAS - GovTech',
 'SAAS - Hospitals and Healthcare - Dental',
 'SAAS - Hospitals and Healthcare - Medical',
 'SAAS - Leisure, Sports and Recreation - Fitness',
 'SAAS - Leisure, Sports and Recreation - Hospitality',
 'SAAS - Leisure, Sports and Recreation - Sports Training',
 'SAAS - Leisure, Sports and Recreation - Travel Management',
 'SAAS - Manufacturing',
 'SAAS - Marketing Tech',
 'SAAS - Marketing Tech - Event Management',
 'SAAS - Marketing Tech - Marketing Automation',
 'SAAS - Marketing Tech - SEO',
 'SAAS - NGO',
 'SAAS - Point of Sale',
 'SAAS - Public Safety',
 'SAAS - Sales  - AI/Sales Intelligence',
 'SAAS - Sales  - Chat',
 'SAAS - Sales  - CRM',
 'SAAS - Sales  - eSignature',
 'SAAS - Services Management',
 'SAAS - Transportation',
 'SAAS - Transportation - Shipping',
 'Telecommunications',
 'Transportation',
 'Transportation - Airline',
 'Transportation - Shipping',
 'Venture Capital']

In [7]:
all_data_df.shape

(48762, 11)

In [8]:
all_data_df["Organization - Name"].nunique()

48380

In [9]:
all_data_df.columns

Index(['Organization - ID', 'Organization - Name', 'Organization - Website',
       'Organization - CB Description', 'Organization - Company Type',
       'Organization - CB Industries', 'Organization - Employee Range',
       'Organization - New Industry', 'Keyword', 'MetaKeyword',
       'MetaDescription'],
      dtype='object')

In [10]:
all_data_df.dtypes

Organization - ID                 int64
Organization - Name              object
Organization - Website           object
Organization - CB Description    object
Organization - Company Type      object
Organization - CB Industries     object
Organization - Employee Range    object
Organization - New Industry      object
Keyword                          object
MetaKeyword                      object
MetaDescription                  object
dtype: object

In [11]:
all_data_df.isnull().sum()

Organization - ID                    0
Organization - Name                  0
Organization - Website             389
Organization - CB Description     1390
Organization - Company Type          0
Organization - CB Industries      1404
Organization - Employee Range     1324
Organization - New Industry         94
Keyword                              0
MetaKeyword                      42509
MetaDescription                  25548
dtype: int64

In [12]:
all_data_df["Organization - New Industry"].unique()

array(['Telecommunications',
       'Corporate Services - Scaled Outbound Operations',
       'SAAS - Finance/HR - Human Resources',
       'SAAS - Contact Center Software', 'SAAS - Customer Service',
       'Corporate Services - Scaled Client Success Operations',
       'SAAS - Sales  - CRM', 'Corporate Services - Consulting',
       'Finance/Banking - Bank', 'SAAS - Finance/HR - Recruiting',
       'Finance/Banking - Financial Services', 'Insurance',
       'Corporate Services - Recruiting Agency',
       'SAAS - Marketing Tech - Marketing Automation',
       'SAAS - Finance/HR - Payroll',
       'SAAS - Sales  - AI/Sales Intelligence', 'Media - Social Media',
       'SAAS - Marketing Tech - SEO', 'SAAS - Sales  - Chat',
       'SAAS - Finance/HR - Accounting', 'SAAS - Contractor Engagement',
       'Private Equity', 'SAAS - Services Management', nan,
       'Consumer Services - Automotive', 'SAAS - eCommerce',
       'Energy and Environmental - Carbon Offset Supplier',
       'SAAS - EdTech', 'Consumer Services - Cleaning Services',
       'Civic, Non-Profit and Membership Groups',
       'Leisure, Sports and Recreation - Fitness Technology',
       'Leisure, Sports and Recreation - Hotels & Resorts',
       'Retail - General Retailers', 'SAAS - Point of Sale',
       'Corporate Services - Performance Marketing Agency',
       'Computer Software - C2C Marketplace',
       'Media - Educational Publishing', 'Food and Beverage - Grocery',
       'Transportation - Airline',
       'SAAS - Leisure, Sports and Recreation - Travel Management',
       'Retail - Internet Retail',
       'Consumer Services - Real Estate Brokers', 'Computer Software',
       'Corporate Services - Trade Show Organizers',
       'Energy and Environmental - Carbon Measurement & Mgmt',
       'SAAS - Feedback', 'Automotive - Car Manufacturing',
       'SAAS - Marketing Tech - Event Management', 'SAAS - Cannabis',
       'Computer Software - Gig Marketplace',
       'SAAS - Leisure, Sports and Recreation - Fitness',
       'Leisure, Sports and Recreation - Restaurants, Bars and Eateries',
       'Media - Publishing', 'Energy and Environmental - Utilities',
       'SAAS - Leisure, Sports and Recreation - Hospitality',
       'Consumer Product Manufacturing',
       'Corporate Services - Market Research', 'SAAS - NGO',
       'Energy and Environmental - Oil and Gas',
       'Transportation - Shipping', 'Media - Publication Tool',
       'SAAS - Automotive',
       'Finance/Banking - Financial Services - Credit Card Issuer',
       'SAAS - Email Marketing', 'SAAS - Document Management',
       'SAAS - Marketing Tech', 'Transportation', 'Computer Hardware',
       'SAAS - Finance/HR - ERP', 'SAAS - Sales  - eSignature',
       'SAAS - Leisure, Sports and Recreation - Sports Training',
       'SAAS - Transportation - Shipping', 'SAAS - GovTech',
       'SAAS - Public Safety', 'SAAS - Transportation',
       'Leisure, Sports and Recreation - Lifestyle Brands',
       'SAAS - Construction', 'Retail - Fashion', 'SAAS - Agtech',
       'SAAS - Hospitals and Healthcare - Medical',
       'SAAS - Manufacturing',
       'Computer Software - Leisure, Sports and Recreation',
       'Leisure, Sports and Recreation - Fitness Brands',
       'Leisure, Sports and Recreation - Fitness Chains',
       'Computer Software - Online Education', 'SAAS - Energy',
       'SAAS - Hospitals and Healthcare - Dental', 'Corporate Services',
       'Computer Software - Finance/Banking - Digital Banking',
       'SAAS - Banking Platform', 'Finance/Banking - CUSO',
       'Finance/Banking - Finanical Services - Monitoring',
       'SAAS - Finance/HR - Expense Reporting',
       'Finance/Banking - Credit Union'], dtype=object)

In [13]:
#rename columns
all_data_df.columns=['org_id','org_name','org_website','org_cb_description','org_company_type','org_cb_industry','org_company_size','org_new_industry','keyword','metakeyword','metadesc',]

In [14]:
all_data_df.shape

(48762, 11)

In [15]:
#drop columns
drop_col=['org_id','org_company_type']
all_data_df.drop(columns=drop_col)

,org_name,org_website,org_cb_description,org_cb_industry,org_company_size,org_new_industry,keyword,metakeyword,metadesc
0,TeleTech,https://www.ttecjobs.com/,NaN,NaN,10001+,Telecommunications,"customer, technology, talent, community, caree...",NaN,NaN
1,OPSIFY,http://www.opsify.com,"On-demand, technology-enabled business service...","Business Development, Business Intelligence, C...",501-1000,Corporate Services - Scaled Outbound Operations,"operations, opsify, company, business, process...",NaN,NaN
2,Callbox,https://www.callbox.com/,NaN,NaN,NaN,Corporate Services - Scaled Outbound Operations,"phone, practices, dental, veterinary, automoti...",NaN,NaN
3,Quantum Workplace,http://www.quantumworkplace.com,NaN,NaN,51-100,SAAS - Finance/HR - Human Resources,"engagement, employee, success, teams, performa...",NaN,NaN
4,UJET,https://ujet.co/,UJETâ€™s cloud contact center solutions help o...,"Call Center, Communications Infrastructure, Cu...",101-250,SAAS - Contact Center Software,"contact, experience, smartphone, customer, clo...",NaN,UJET is the world's first and only cloud conta...
...,...,...,...,...,...,...,...,...,...
48757,Seattle Bank,https://www.seattlebank.com/,NaN,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN
48758,Civis Bank,https://civisbank.com/,NaN,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN
48759,OV Loop,https://www.ovloop.com/,NaN,NaN,NaN,Computer Software - Finance/Banking - Digital ...,0,NaN,NaN
48760,Silverbills,https://silverbills.com/,NaN,NaN,NaN,Computer Software - Finance/Banking - Digital ...,0,NaN,NaN
48761,First Republic Bank,https://www.firstrepublic.com/,NaN,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN

In [16]:
# filter out companies in our training set without an industry as we need that for prediction
training_df = training_df[~training_df['Organization - New Industry'].isnull()]

In [ ]:
training_df['web_description'] = pd.Series(web_descriptions)
training_df['web_keyword'] = pd.Series(web_keywords)
training_df

## Data modelling of training data

Construct dummies for categorical fields

In [15]:
training_df = training_df.drop(columns=['Organization - ID', 'Organization - Company Type'])

In [16]:
size_dummies = pd.get_dummies(training_df['Organization - Employee Range'], prefix='size')
training_df = pd.concat([training_df, 
                        size_dummies], axis=1)

training_df

,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,size_1-10,size_10001+,size_1001-5000,size_101-250,size_11-50,size_251-500,size_5001-10000,size_501-1000,size_51-100
0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0
1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0
2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,1,0,0,0,0,0,0,0
3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,1,0,0,0,0,0,0,0
4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0
2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0
2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0
2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0
2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0

Use NLP techniques for feature engineering

In [17]:
import nltk
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize.casual import casual_tokenize
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words

In [18]:
import re

stemmer = SnowballStemmer("english")
nltk.download("wordnet")
from nltk.stem import WordNetLemmatizer

from collections import defaultdict
lemmatizer = WordNetLemmatizer()

def decontracted(phrase):
    # Taken from https://stackoverflow.com/questions/19790188/expanding-english-language-contractions-in-python

    phrase = re.sub(r"won\'t", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

def tokenize_phrase(text):
    text = str(text)
    phrase = decontracted(text)
    tokens = casual_tokenize(phrase, reduce_len=True, strip_handles=True)
    normalized_tokens = [x.lower() for x in tokens]  #  convert to all lowercase
    filtered_tokens = [x for x in normalized_tokens if x not in sklearn_stop_words]  #  filter stop words
    filtered_tokens = [x for x in filtered_tokens if x and x not in "- \t\n.\"':[...][\\]()/[br]<>*~,;!?"]  #  filter punctuations
    lemmatized_tokes = [lemmatizer.lemmatize(t) for t in tokens]  # perform lemmatization
    stemmed_tokens = [stemmer.stem(w) for w in filtered_tokens]  # perform stemming
    pos_tokens = nltk.pos_tag(stemmed_tokens)  # perform part-of-speech tagging
    return pos_tokens

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Katrina\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [19]:
training_df['description_tokens'] = training_df['Organization - CB Description'].apply(tokenize_phrase)
training_df['industry_tokens'] = training_df['Organization - CB Industries'].apply(tokenize_phrase)
training_df['keyword_tokens'] = training_df['Keyword'].apply(tokenize_phrase)
training_df['metakeyword_tokens'] = training_df['MetaKeyword'].apply(tokenize_phrase)
training_df['metadescription_tokens'] = training_df['MetaDescription'].apply(tokenize_phrase)
training_df

,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,size_1-10,...,size_11-50,size_251-500,size_5001-10000,size_501-1000,size_51-100,description_tokens,industry_tokens,keyword_tokens,metakeyword_tokens,metadescription_tokens
0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,0,...,0,0,0,0,0,"[(aston, NN), (martin, NN), (lagonda, NN), (gl...","[(automot, NN), (leisur, NN), (manufactur, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,0,...,0,0,0,0,0,"[(fiat, JJ), (chrysler, NN), (automobil, NN), ...","[(automot, NN), (industri, NN), (manufactur, N...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,...,0,0,0,0,0,"[(ford, NN), (motor, NN), (compani, NN), (auto...","[(app, NN), (automot, NN), (manufactur, NN), (...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]"
3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,...,0,0,0,0,0,"[(general, JJ), (motor, NN), (detroit-bas, JJ)...","[(automot, JJ), (enterpris, JJ), (softwar, NN)...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]"
4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,0,...,0,0,0,0,0,"[(nan, NN)]","[(nan, NN)]","[(benefit, NN), (websit, NN), (leav, NN), (pro...","[(nan, NN)]","[(nan, NN)]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,...,0,0,0,0,0,"[(jetblu, NN), (airway, RB), (bring, JJ), (hum...","[(transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,...,0,0,0,0,0,"[(southwest, JJS), (airlin, NN), (nyse, NN), (...","[(public, JJ), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,0,...,0,0,0,0,0,"[(unit, NN), (airlin, NN), (unit, NN), (expres...","[(aerospac, JJ), (hospit, NN), (in-flight, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,0,...,0,0,0,0,0,"[(fedex, NN), (corpor, NN), (provid, NN), (cus...","[(commerci, NN), (real, JJ), (estat, JJ), (e-c...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,0,...,0,0,0,0,0,"[(unit, NN), (parcel, NN), (servic, VBD), (up,...","[(logist, NN), (messag, NN), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"

## Construct Bag of Words from tokens

In [20]:
# merge all tokens into 1 column of the DataFrame
tokens_sr = []
for desc_tokens, ind_tokens, key_tokens, metakey_tokens, metadesc_tokens in zip(training_df['description_tokens'], training_df['industry_tokens'], training_df['keyword_tokens'], training_df['metakeyword_tokens'], training_df['metadescription_tokens']):
    tokens = []
    tokens.extend(desc_tokens) if desc_tokens != [('nan', 'NN')] else False
    tokens.extend(ind_tokens) if ind_tokens != [('nan', 'NN')] else False
    tokens.extend(key_tokens) if key_tokens != [('nan', 'NN')] else False
    tokens.extend(metakey_tokens) if metakey_tokens != [('nan', 'NN')] else False
    tokens.extend(metadesc_tokens) if metadesc_tokens != [('nan', 'NN')] else False
    tokens_sr.append(tokens)
    
training_df['tokens'] = pd.Series(tokens_sr)
training_df

,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,size_1-10,...,size_251-500,size_5001-10000,size_501-1000,size_51-100,description_tokens,industry_tokens,keyword_tokens,metakeyword_tokens,metadescription_tokens,tokens
0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,0,...,0,0,0,0,"[(aston, NN), (martin, NN), (lagonda, NN), (gl...","[(automot, NN), (leisur, NN), (manufactur, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(aston, NN), (martin, NN), (lagonda, NN), (gl..."
1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,0,...,0,0,0,0,"[(fiat, JJ), (chrysler, NN), (automobil, NN), ...","[(automot, NN), (industri, NN), (manufactur, N...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(fiat, JJ), (chrysler, NN), (automobil, NN), ..."
2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,...,0,0,0,0,"[(ford, NN), (motor, NN), (compani, NN), (auto...","[(app, NN), (automot, NN), (manufactur, NN), (...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(ford, NN), (motor, NN), (compani, NN), (auto..."
3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,...,0,0,0,0,"[(general, JJ), (motor, NN), (detroit-bas, JJ)...","[(automot, JJ), (enterpris, JJ), (softwar, NN)...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(general, JJ), (motor, NN), (detroit-bas, JJ)..."
4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,0,...,0,0,0,0,"[(nan, NN)]","[(nan, NN)]","[(benefit, NN), (websit, NN), (leav, NN), (pro...","[(nan, NN)]","[(nan, NN)]","[(benefit, NN), (websit, NN), (leav, NN), (pro..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,...,0,0,0,0,"[(jetblu, NN), (airway, RB), (bring, JJ), (hum...","[(transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(jetblu, NN), (airway, RB), (bring, JJ), (hum..."
2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,...,0,0,0,0,"[(southwest, JJS), (airlin, NN), (nyse, NN), (...","[(public, JJ), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(southwest, JJS), (airlin, NN), (nyse, NN), (..."
2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,0,...,0,0,0,0,"[(unit, NN), (airlin, NN), (unit, NN), (expres...","[(aerospac, JJ), (hospit, NN), (in-flight, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(unit, NN), (airlin, NN), (unit, NN), (expres..."
2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,0,...,0,0,0,0,"[(fedex, NN), (corpor, NN), (provid, NN), (cus...","[(commerci, NN), (real, JJ), (estat, JJ), (e-c...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(fedex, NN), (corpor, NN), (provid, NN), (cus..."
2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,0,...,0,0,0,0,"[(unit, NN), (parcel, NN), (servic, VBD), (up,...","[(logist, NN), (messag, NN), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(unit, NN), (parcel, NN), (servic, VBD), (up,..."

In [21]:
# construct bag of words from tokens
from collections import Counter

bag_of_words = []
for tokens in training_df['tokens']:
    bag_of_words.append(Counter(tokens))
    
bows_df = pd.DataFrame.from_records(bag_of_words)
bows_df = bows_df.fillna(0).astype(int)
bows_df

,"(aston, NN)","(martin, NN)","(lagonda, NN)","(global, JJ)","(hold, NN)","(manufactur, NN)","(luxuri, VBP)","(sport, NN)","(car, NN)","(grand, JJ)",...,"(traveldealseg, VBP)","(triptypetext, NN)","(disclaimertoken, JJ)","(origincitynam, JJ)","(southwest, JJS)","(luv, NN)","(exemplari, JJ)","(5,000, CD)","(in-flight, JJ)","(fedex, NN)"
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,0
2122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# construct DataFrame of all features from bag of words and 1 hot encoding of size
feature_df = pd.concat([bows_df, training_df[['size_1-10', 'size_11-50', 'size_51-100', 'size_101-250', 'size_251-500', 'size_501-1000', 'size_1001-5000', 'size_5001-10000', 'size_10001+']]], axis=1)
feature_df

,"(aston, NN)","(martin, NN)","(lagonda, NN)","(global, JJ)","(hold, NN)","(manufactur, NN)","(luxuri, VBP)","(sport, NN)","(car, NN)","(grand, JJ)",...,"(fedex, NN)",size_1-10,size_11-50,size_51-100,size_101-250,size_251-500,size_501-1000,size_1001-5000,size_5001-10000,size_10001+
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2123,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Construct TF-IDF features set

In [46]:
def sanitize_phrase(text):
    text = str(text)
    phrase = decontracted(text)
    tokens = casual_tokenize(phrase, reduce_len=True, strip_handles=True)
    normalized_tokens = [x.lower() for x in tokens]  #  convert to all lowercase
    filtered_tokens = [x for x in normalized_tokens if x not in sklearn_stop_words]  #  filter stop words
    filtered_tokens = [x for x in filtered_tokens if x and x not in "- \t\n.\"':[...][\\]()/[br]<>*~,;!?"]  #  filter punctuations
    lemmatized_tokes = [lemmatizer.lemmatize(t) for t in tokens]  # perform lemmatization
    stemmed_tokens = [stemmer.stem(w) for w in filtered_tokens]  # perform stemming
    return " ".join(stemmed_tokens)

In [48]:
# tf-idf does not play well with part-of-speech tagging so we need plain text
training_df['sani_desc'] = training_df['Organization - CB Description'].apply(sanitize_phrase)
training_df['sani_indust'] = training_df['Organization - CB Industries'].apply(sanitize_phrase)
training_df['sani_key'] = training_df['Keyword'].apply(sanitize_phrase)
training_df['sani_metakey'] = training_df['MetaKeyword'].apply(sanitize_phrase)
training_df['sani_metadesc'] = training_df['MetaDescription'].apply(sanitize_phrase)
training_df

,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,size_1-10,...,industry_tokens,keyword_tokens,metakeyword_tokens,metadescription_tokens,tokens,sani_desc,sani_indust,sani_key,sani_metakey,sani_metadesc
0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,0,...,"[(automot, NN), (leisur, NN), (manufactur, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(aston, NN), (martin, NN), (lagonda, NN), (gl...",aston martin lagonda global hold manufactur lu...,automot leisur manufactur product design recre...,nan,nan,nan
1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,0,...,"[(automot, NN), (industri, NN), (manufactur, N...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(fiat, JJ), (chrysler, NN), (automobil, NN), ...",fiat chrysler automobil design engin manufactu...,automot industri manufactur manufactur transport,nan,nan,nan
2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,...,"[(app, NN), (automot, NN), (manufactur, NN), (...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(ford, NN), (motor, NN), (compani, NN), (auto...",ford motor compani automot compani develop man...,app automot manufactur transport,access,nan,nan
3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,...,"[(automot, JJ), (enterpris, JJ), (softwar, NN)...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(general, JJ), (motor, NN), (detroit-bas, JJ)...",general motor detroit-bas mutin corpor manufac...,automot enterpris softwar manufactur transport,access,nan,nan
4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,0,...,"[(nan, NN)]","[(benefit, NN), (websit, NN), (leav, NN), (pro...","[(nan, NN)]","[(nan, NN)]","[(benefit, NN), (websit, NN), (leav, NN), (pro...",nan,nan,benefit websit leav provid cancel condit term ...,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,...,"[(transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(jetblu, NN), (airway, RB), (bring, JJ), (hum...",jetblu airway bring human air travel,transport,nan,nan,nan
2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,...,"[(public, JJ), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(southwest, JJS), (airlin, NN), (nyse, NN), (...",southwest airlin nyse luv continu differenti c...,public transport,nan,nan,nan
2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,0,...,"[(aerospac, JJ), (hospit, NN), (in-flight, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(unit, NN), (airlin, NN), (unit, NN), (expres...","unit airlin unit express oper approxim 5,000 f...",aerospac hospit in-flight entertain public tra...,nan,nan,nan
2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,0,...,"[(commerci, NN), (real, JJ), (estat, JJ), (e-c...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(fedex, NN), (corpor, NN), (provid, NN), (cus...",fedex corpor provid custom busi worldwid broad...,commerci real estat e-commerc logist print shi...,nan,nan,nan
2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,0,...,"[(logist, NN), (messag, NN), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(unit, NN), (parcel, NN), (servic, VBD), (up,...",unit parcel servic up packag deliveri compani ...,logist messag transport,nan,nan,nan

In [52]:
training_df['sanitized'] = training_df['sani_desc'].apply(lambda x: '' if x == 'nan' else x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_indust'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_key'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_metakey'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_metadesc'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df

,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,size_1-10,...,keyword_tokens,metakeyword_tokens,metadescription_tokens,tokens,sani_desc,sani_indust,sani_key,sani_metakey,sani_metadesc,sanitized
0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,0,...,"[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(aston, NN), (martin, NN), (lagonda, NN), (gl...",aston martin lagonda global hold manufactur lu...,automot leisur manufactur product design recre...,nan,nan,nan,aston martin lagonda global hold manufactur lu...
1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,0,...,"[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(fiat, JJ), (chrysler, NN), (automobil, NN), ...",fiat chrysler automobil design engin manufactu...,automot industri manufactur manufactur transport,nan,nan,nan,fiat chrysler automobil design engin manufactu...
2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,...,"[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(ford, NN), (motor, NN), (compani, NN), (auto...",ford motor compani automot compani develop man...,app automot manufactur transport,access,nan,nan,ford motor compani automot compani develop man...
3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,0,...,"[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(general, JJ), (motor, NN), (detroit-bas, JJ)...",general motor detroit-bas mutin corpor manufac...,automot enterpris softwar manufactur transport,access,nan,nan,general motor detroit-bas mutin corpor manufac...
4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,0,...,"[(benefit, NN), (websit, NN), (leav, NN), (pro...","[(nan, NN)]","[(nan, NN)]","[(benefit, NN), (websit, NN), (leav, NN), (pro...",nan,nan,benefit websit leav provid cancel condit term ...,nan,nan,benefit websit leav provid cancel condit term...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,...,"[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(jetblu, NN), (airway, RB), (bring, JJ), (hum...",jetblu airway bring human air travel,transport,nan,nan,nan,jetblu airway bring human air travel transport
2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,0,...,"[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(southwest, JJS), (airlin, NN), (nyse, NN), (...",southwest airlin nyse luv continu differenti c...,public transport,nan,nan,nan,southwest airlin nyse luv continu differenti c...
2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,0,...,"[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(unit, NN), (airlin, NN), (unit, NN), (expres...","unit airlin unit express oper approxim 5,000 f...",aerospac hospit in-flight entertain public tra...,nan,nan,nan,"unit airlin unit express oper approxim 5,000 f..."
2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,0,...,"[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(fedex, NN), (corpor, NN), (provid, NN), (cus...",fedex corpor provid custom busi worldwid broad...,commerci real estat e-commerc logist print shi...,nan,nan,nan,fedex corpor provid custom busi worldwid broad...
2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,0,...,"[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(unit, NN), (parcel, NN), (servic, VBD), (up,...",unit parcel servic up packag deliveri compani ...,logist messag transport,nan,nan,nan,unit parcel servic up packag deliveri compani ...

In [53]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=True)
tv_matrix = tv.fit_transform(training_df['sanitized'])
tv_matrix = tv_matrix.toarray()
vocab = tv.get_feature_names()
tfidf_df = pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)
tfidf_df

,00,000,0001,0004,003b71,00pm,0101,011,0155,01t00,...,zoom,zucchetti,zucchini,zulili,zumba,zuno,zycron,zynlo,zå,œcustom
0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2121,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2122,0.0,0.18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2123,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2124,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
# construct DataFrame of all features from TF-IDF and 1 hot encoding of size
tfidf_feature_df = pd.concat([tfidf_df, training_df[['size_1-10', 'size_11-50', 'size_51-100', 'size_101-250', 'size_251-500', 'size_501-1000', 'size_1001-5000', 'size_5001-10000', 'size_10001+']]], axis=1)
tfidf_feature_df

,00,000,0001,0004,003b71,00pm,0101,011,0155,01t00,...,œcustom,size_1-10,size_11-50,size_51-100,size_101-250,size_251-500,size_501-1000,size_1001-5000,size_5001-10000,size_10001+
0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,1,0,0
1,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
3,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
4,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2121,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2122,0.0,0.18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2123,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2124,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1

At this point we have a feature DataFrame for both bag of words and TF-IDF. We can now construct models using these features.

## Construct Naive Bayes model using Bag of Words

In [23]:
# split the data into train and test sets
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()
x_train, x_test, y_train, y_test = train_test_split(feature_df, training_df['Organization - New Industry'], test_size=0.2, random_state=5)
nb.fit(x_train, y_train)
predicted = nb.predict(x_test)
accuracy_score = metrics.accuracy_score(predicted, y_test)
print('Test accuracy is ' + str('{:04.2f}'.format(accuracy_score * 100)) + '%')

Train accuracy is 32.24%

## Construct Naive Bayes model using TF-IDF

In [55]:
# split the data into train and test sets
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()
x_train, x_test, y_train, y_test = train_test_split(tfidf_feature_df, training_df['Organization - New Industry'], test_size=0.2, random_state=5)
nb.fit(x_train, y_train)
predicted = nb.predict(x_test)
accuracy_score = metrics.accuracy_score(predicted, y_test)
print('Test accuracy is ' + str('{:04.2f}'.format(accuracy_score * 100)) + '%')

Train accuracy is 25.65%

## Gradient Boosted Decision Stumps using Bag of Words

In [58]:
from sklearn.ensemble import GradientBoostingClassifier

x_train, x_test, y_train, y_test = train_test_split(feature_df, training_df['Organization - New Industry'], test_size=0.2, random_state=5)
clf = GradientBoostingClassifier(n_estimators=100, # 100 stumps
                                 learning_rate=1.0,
                                 max_depth=1, # ensure stump
                                 random_state=5).fit(x_train, y_train)
accuracy_score = clf.score(x_test, y_test)
print('Test accuracy is ' + str('{:04.2f}'.format(accuracy_score * 100)) + '%')

Test accuracy is 13.647058823529413%