In [17]:
import os
import numpy as np
import pandas as pd

In [18]:
excel_data_filename = r'Basis State Industry List 071621.xlsx'
excel_industries_filename = r'Basis State Industries 210701.xlsx'
excel_industries_range = r'B6:B105'

In [19]:

 
training_df = pd.read_excel(open('Basis State Industry List 071621.xlsx', 'rb'),
              sheet_name='Training List')
training_df

      Organization - ID  ... MetaDescription
0                   440  ...             NaN
1                   898  ...             NaN
2                   930  ...             NaN
3                   965  ...             NaN
4                   296  ...             NaN
...                 ...  ...             ...
2164              48844  ...             NaN
2165              48845  ...             NaN
2166              48846  ...             NaN
2167              48847  ...             NaN
2168              48848  ...             NaN

[2169 rows x 11 columns]

In [20]:

training_df.columns=['org_id','org_name','org_website','org_cb_description','org_company_type','org_cb_industry','org_company_size','org_new_industry','keyword','metakeyword','metadesc']
drop_col=['org_id','org_name','org_website','org_company_type','org_cb_industry','org_company_size']
training_df.drop(columns=drop_col,axis=1, inplace=True)
training_df

                                     org_cb_description  ... metadesc
0     Aston Martin Lagonda Global Holdings manufactu...  ...      NaN
1     Fiat Chrysler Automobiles designs, engineers, ...  ...      NaN
2     Ford Motor Company, an automotive company, dev...  ...      NaN
3     General Motors is a Detroit-based mutinational...  ...      NaN
4                                                   NaN  ...      NaN
...                                                 ...  ...      ...
2164                                                NaN  ...      NaN
2165                                                NaN  ...      NaN
2166                                                NaN  ...      NaN
2167                                                NaN  ...      NaN
2168                                                NaN  ...      NaN

[2169 rows x 5 columns]

In [21]:
training_df = training_df[training_df['org_new_industry'].notna()]
training_df

                                     org_cb_description  ... metadesc
0     Aston Martin Lagonda Global Holdings manufactu...  ...      NaN
1     Fiat Chrysler Automobiles designs, engineers, ...  ...      NaN
2     Ford Motor Company, an automotive company, dev...  ...      NaN
3     General Motors is a Detroit-based mutinational...  ...      NaN
4                                                   NaN  ...      NaN
...                                                 ...  ...      ...
2120  JetBlue airways to bring humanity back to air ...  ...      NaN
2121  Southwest Airlines (NYSE: LUV) continues to di...  ...      NaN
2122  United Airlines and United Express operate app...  ...      NaN
2123  FedEx Corporation provides customers and busin...  ...      NaN
2124  United Parcel Service (UPS) is a package deliv...  ...      NaN

[2125 rows x 5 columns]

In [25]:
training_df['description_combined'] = training_df[['org_cb_description', 'keyword', 'metakeyword','metadesc']].fillna('').agg(' '.join, axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
training_df.dtypes

org_cb_description      object
org_new_industry        object
keyword                 object
metakeyword             object
metadesc                object
description             object
description_combined    object
dtype: object

In [51]:
train_df=training_df.loc[:,['org_new_industry','description_combined']]
train_df

                             org_new_industry                               description_combined
0              Automotive - Car Manufacturing  Aston Martin Lagonda Global Holdings manufactu...
1              Automotive - Car Manufacturing  Fiat Chrysler Automobiles designs, engineers, ...
2              Automotive - Car Manufacturing  Ford Motor Company, an automotive company, dev...
3              Automotive - Car Manufacturing  General Motors is a Detroit-based mutinational...
4     Civic, Non-Profit and Membership Groups   benefits, website, leaving, provider, cancel,...
...                                       ...                                                ...
2120                 Transportation - Airline  JetBlue airways to bring humanity back to air ...
2121                 Transportation - Airline  Southwest Airlines (NYSE: LUV) continues to di...
2122                 Transportation - Airline  United Airlines and United Express operate app...
2123                Transportation - Shipping  FedEx Corporation provides customers and busin...
2124                Transportation - Shipping  United Parcel Service (UPS) is a package deliv...

[2125 rows x 2 columns]

In [29]:
!wget http://setup.johnsnowlabs.com/colab.sh -O - | bash

--2021-08-06 04:01:04--  http://setup.johnsnowlabs.com/colab.sh
Resolving setup.johnsnowlabs.com (setup.johnsnowlabs.com)... 51.158.130.125
Connecting to setup.johnsnowlabs.com (setup.johnsnowlabs.com)|51.158.130.125|:80... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp/master/scripts/colab_setup.sh [following]
--2021-08-06 04:01:05--  https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp/master/scripts/colab_setup.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1608 (1.6K) [text/plain]
Saving to: ‘STDOUT’

-                     0%[                    ]       0  --.-KB/s               setup Colab for PySpark 3.1.2 and Spark NLP 3.1.3
-                   100%[===================>]   1.57K  --.-KB/s    in 0.001s

2021-08-06 04:01:05 (2.02 MB/s) - written to stdout [1608/1608]

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:9 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [62.9 kB]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:13 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Ign:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [695 kB]
Hit:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:16 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [26.7 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,263 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,786 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,698 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,420 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [510 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [544 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [39.4 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,195 kB]
Get:27 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [914 kB]
Get:28 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [44.1 kB]
Fetched 13.5 MB in 4s (3,215 kB/s)
Reading package lists... Done
     |████████████████████████████████| 212.4 MB 70 kB/s
     |████████████████████████████████| 91 kB 12.0 MB/s
     |████████████████████████████████| 198 kB 63.5 MB/s
  Building wheel for pyspark (setup.py) ... done

In [30]:
import sparknlp
spark = sparknlp.start() 
# sparknlp.start(gpu=True) >> for training on GPU
from sparknlp.base import *
from sparknlp.annotator import *
from pyspark.ml import Pipeline

Text Classification with Classifier with SparkNLP

In [56]:
document = DocumentAssembler()\
    .setInputCol("description_combined")\
    .setOutputCol("document")

In [57]:
use = UniversalSentenceEncoder.pretrained()\
 .setInputCols(["document"])\
 .setOutputCol("sentence_embeddings")

tfhub_use download started this may take some time.
Approximate size to download 923.7 MB
[OK!]

In [58]:
classsifierdl = ClassifierDLApproach()\
  .setInputCols(["sentence_embeddings"])\
  .setOutputCol("class")\
  .setLabelColumn("org_new_industry")\
  .setMaxEpochs(5)\
  .setEnableOutputLogs(True)

In [59]:
use_clf_pipeline = Pipeline(
    stages = [
        document,
        use,
        classsifierdl
    ])

In [53]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[1]") \
    .appName("SparkByExamples.com") \
    .getOrCreate()

train_sparkdf=spark.createDataFrame(train_df)

In [60]:
use_pipelineModel = use_clf_pipeline.fit(train_sparkdf)

In [61]:
!cat /root/annotator_logs/ClassifierDLApproach_c570d0becc72.log

Training started - epochs: 5 - learning_rate: 0.005 - batch_size: 64 - training_examples: 2125 - classes: 90
Epoch 0/5 - 0.66s - loss: 152.42564 - acc: 0.057291668 - batches: 34
Epoch 1/5 - 0.44s - loss: 151.63655 - acc: 0.068655305 - batches: 34
Epoch 2/5 - 0.45s - loss: 151.63655 - acc: 0.068655305 - batches: 34
Epoch 3/5 - 0.40s - loss: 151.63655 - acc: 0.068655305 - batches: 34
Epoch 4/5 - 0.40s - loss: 151.63655 - acc: 0.068655305 - batches: 34

Bert Sentence Embedding

In [ ]:
document = DocumentAssembler()\
    .setInputCol("description_combined")\
    .setOutputCol("document")

In [62]:
bert_sent=BertSentenceEmbeddings.pretrained("sent_small_bert_L8_512")\
.setInputCols(["document"])\
.setOutputCol("sentence_embeddings")

sent_small_bert_L8_512 download started this may take some time.
Approximate size to download 149.1 MB
[OK!]

In [66]:
classsifierd2 = ClassifierDLApproach()\
  .setInputCols(["sentence_embeddings"])\
  .setOutputCol("class")\
  .setLabelColumn("org_new_industry")\
  .setMaxEpochs(20)\
  .setEnableOutputLogs(True)

In [67]:
bert_sent_clf_pipeline=Pipeline(
    stages=
    [document,bert_sent,classsifierd2])

In [68]:
bert_sentPiplelineModel=bert_sent_clf_pipeline.fit(train_sparkdf)

In [69]:
!cat /root/annotator_logs/ClassifierDLApproach_5546c333482b.log

Training started - epochs: 20 - learning_rate: 0.005 - batch_size: 64 - training_examples: 2125 - classes: 90
Epoch 0/20 - 0.53s - loss: 151.60966 - acc: 0.06767191 - batches: 34
Epoch 1/20 - 0.39s - loss: 151.98505 - acc: 0.07149621 - batches: 34
Epoch 2/20 - 0.40s - loss: 151.63652 - acc: 0.06581439 - batches: 34
Epoch 3/20 - 0.39s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 4/20 - 0.40s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 5/20 - 0.40s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 6/20 - 0.39s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 7/20 - 0.39s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 8/20 - 0.39s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 9/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 10/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 11/20 - 0.39s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 12/20 - 0.39s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 13/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 14/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 15/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 16/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 17/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 18/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34
Epoch 19/20 - 0.38s - loss: 151.63655 - acc: 0.06581439 - batches: 34

Using Glove Embeddings

In [81]:
document_assembler = DocumentAssembler() \
    .setInputCol("description_combined") \
    .setOutputCol("document")
    
tokenizer = Tokenizer() \
    .setInputCols(["document"]) \
    .setOutputCol("token")
      
normalizer = Normalizer() \
    .setInputCols(["token"]) \
    .setOutputCol("normalized")

stopwords_cleaner = StopWordsCleaner()\
    .setInputCols("normalized")\
    .setOutputCol("cleanTokens")\
    .setCaseSensitive(False)

lemma = LemmatizerModel.pretrained('lemma_antbnc') \
    .setInputCols(["cleanTokens"]) \
    .setOutputCol("lemma")

lemma_antbnc download started this may take some time.
Approximate size to download 907.6 KB
[OK!]

In [84]:
glove_embeddings = WordEmbeddingsModel().pretrained() \
      .setInputCols(["document",'lemma'])\
      .setOutputCol("embeddings")\
      .setCaseSensitive(False)

embeddingsSentence = SentenceEmbeddings() \
      .setInputCols(["document", "embeddings"]) \
      .setOutputCol("sentence_embeddings") \
      .setPoolingStrategy("AVERAGE")

classsifierd3 = ClassifierDLApproach()\
      .setInputCols(["sentence_embeddings"])\
      .setOutputCol("class")\
      .setLabelColumn("org_new_industry")\
      .setMaxEpochs(3)\
      .setEnableOutputLogs(True)
      #.setOutputLogsPath('logs')

clf_pipeline = Pipeline(
    stages=[document_assembler, 
            tokenizer,
            normalizer,
            stopwords_cleaner, 
            lemma, 
            glove_embeddings,
            embeddingsSentence,
            classsifierd3])

glove_100d download started this may take some time.
Approximate size to download 145.3 MB
[OK!]

In [85]:
clf_pipelineModel = clf_pipeline.fit(train_sparkdf)

In [86]:
!cat /root/annotator_logs/ClassifierDLApproach_ad793ec19836.log

Training started - epochs: 3 - learning_rate: 0.005 - batch_size: 64 - training_examples: 2125 - classes: 90
Epoch 0/3 - 0.59s - loss: 150.31068 - acc: 0.053430945 - batches: 34
Epoch 1/3 - 0.53s - loss: 150.63655 - acc: 0.058165792 - batches: 34
Epoch 2/3 - 0.41s - loss: 150.63657 - acc: 0.058165792 - batches: 34