In [46]:
import os
import numpy as np
import pandas as pd

In [47]:
training_filename = r'training.csv'
excel_data_filename = r'Basis State Industry List 071621.xlsx'
excel_industries_filename = r'Basis State Industries 210701.xlsx'
excel_industries_range = r'B6:B105'

In [48]:
training_df = pd.read_csv(training_filename)
training_df

,Unnamed: 0,Organization - ID,Organization - Name,Organization - Website,Organization - CB Description,Organization - Company Type,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,web_description,web_keywords
0,0,440,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,Acquirer,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,NaN,NaN
1,1,898,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...",Acquirer,"Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,NaN,NaN
2,2,930,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...",Acquirer,"Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,FordÂ® is Built for America. Discover the late...,NaN
3,3,965,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,Acquirer,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,"General Motors is home to Chevrolet, Buick, GM...",NaN
4,4,296,AARP,http://www.aarp.org,NaN,Acquirer,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,"AARP is the nation's largest nonprofit, nonpar...","aarp, real possibilities, baby boomers, driver..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,2120,1157,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Acquirer,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,JetBlue offers flights to 90+ destinations wit...,"JetBlue airline, flights, vacations, low airfa..."
2121,2121,1743,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Acquirer,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,Find low fares to top destinations on the offi...,NaN
2122,2122,1933,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,Acquirer,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,NaN,NaN
2123,2123,894,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,Acquirer,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,NaN,NaN
2124,2124,1936,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,Acquirer,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,NaN,NaN

In [49]:
all_data_df = pd.read_excel(os.path.join('data', excel_data_filename), 
                            sheet_name=r'All Acquirers',
                            engine='openpyxl')
all_data_df

,Organization - ID,Organization - Name,Organization - Website,Organization - CB Description,Organization - Company Type,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription
0,49945,TeleTech,https://www.ttecjobs.com/,NaN,Acquirer,NaN,10001+,Telecommunications,"customer, technology, talent, community, caree...",NaN,NaN
1,31314,OPSIFY,http://www.opsify.com,"On-demand, technology-enabled business service...",Acquirer,"Business Development, Business Intelligence, C...",501-1000,Corporate Services - Scaled Outbound Operations,"operations, opsify, company, business, process...",NaN,NaN
2,49952,Callbox,https://www.callbox.com/,NaN,Acquirer,NaN,NaN,Corporate Services - Scaled Outbound Operations,"phone, practices, dental, veterinary, automoti...",NaN,NaN
3,49970,Quantum Workplace,http://www.quantumworkplace.com,NaN,Acquirer,NaN,51-100,SAAS - Finance/HR - Human Resources,"engagement, employee, success, teams, performa...",NaN,NaN
4,44273,UJET,https://ujet.co/,UJETâ€™s cloud contact center solutions help o...,Acquirer,"Call Center, Communications Infrastructure, Cu...",101-250,SAAS - Contact Center Software,"contact, experience, smartphone, customer, clo...",NaN,UJET is the world's first and only cloud conta...
...,...,...,...,...,...,...,...,...,...,...,...
48757,50826,Seattle Bank,https://www.seattlebank.com/,NaN,Acquirer,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN
48758,50828,Civis Bank,https://civisbank.com/,NaN,Acquirer,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN
48759,50829,OV Loop,https://www.ovloop.com/,NaN,Acquirer,NaN,NaN,Computer Software - Finance/Banking - Digital ...,0,NaN,NaN
48760,50830,Silverbills,https://silverbills.com/,NaN,Acquirer,NaN,NaN,Computer Software - Finance/Banking - Digital ...,0,NaN,NaN
48761,50831,First Republic Bank,https://www.firstrepublic.com/,NaN,Acquirer,NaN,NaN,Finance/Banking - Bank,0,NaN,NaN

In [50]:
from openpyxl import load_workbook

industries = []
wb = load_workbook(os.path.join('data', excel_industries_filename))
ws = wb[r'Industries']
for row in ws[excel_industries_range]:
    for cell in row:
        industries.append(cell.value)
        
industries

['Automotive - Car Manufacturing',
 'Biotechnology',
 'Civic, Non-Profit and Membership Groups',
 'Computer Hardware',
 'Computer Software',
 'Computer Software - C2C Marketplace',
 'Computer Software - Finance/Banking - Digital Banking',
 'Computer Software - Gig Marketplace',
 'Computer Software - Leisure, Sports and Recreation',
 'Computer Software - Online Education',
 'Consumer Product Manufacturing',
 'Consumer Services - Automotive',
 'Consumer Services - Cleaning Services',
 'Consumer Services - Real Estate Brokers',
 'Corporate Services',
 'Corporate Services - Consulting',
 'Corporate Services - Market Research',
 'Corporate Services - Performance Marketing Agency',
 'Corporate Services - Recruiting Agency',
 'Corporate Services - Scaled Client Success Operations',
 'Corporate Services - Scaled Outbound Operations',
 'Corporate Services - Trade Show Organizers',
 'Educational Services',
 'Energy and Environmental - Carbon Measurement & Mgmt',
 'Energy and Environmental - Carbon Offset Supplier',
 'Energy and Environmental - Oil and Gas',
 'Energy and Environmental - Utilities',
 'Finance/Banking - Bank',
 'Finance/Banking - Credit Union',
 'Finance/Banking - CUSO',
 'Finance/Banking - Financial Services',
 'Finance/Banking - Financial Services - Credit Card Issuer',
 'Finance/Banking - Finanical Services - Monitoring',
 'Food and Beverage - Grocery',
 'Insurance',
 'Leisure, Sports and Recreation - Fitness Brands',
 'Leisure, Sports and Recreation - Fitness Chains',
 'Leisure, Sports and Recreation - Fitness Technology',
 'Leisure, Sports and Recreation - Hotels & Resorts',
 'Leisure, Sports and Recreation - Lifestyle Brands',
 'Leisure, Sports and Recreation - Restaurants, Bars and Eateries',
 'Media - Educational Publishing',
 'Media - Publication Tool',
 'Media - Publishing',
 'Media - Social Media',
 'Private Equity',
 'Retail - Fashion',
 'Retail - General Retailers',
 'Retail - Internet Retail',
 'SAAS - Advertising Tech',
 'SAAS - Agtech',
 'SAAS - AI',
 'SAAS - AI - Data/Analytics',
 'SAAS - AI - Machine Learning',
 'SAAS - Automotive',
 'SAAS - Banking Platform',
 'SAAS - Cannabis',
 'SAAS - Construction',
 'SAAS - Contact Center Software',
 'SAAS - Contractor Engagement',
 'SAAS - Customer Service',
 'SAAS - Document Management',
 'SAAS - eCommerce',
 'SAAS - EdTech',
 'SAAS - Email Marketing',
 'SAAS - Energy',
 'SAAS - Feedback',
 'SAAS - Finance/HR - Accounting',
 'SAAS - Finance/HR - ERP',
 'SAAS - Finance/HR - Expense Reporting',
 'SAAS - Finance/HR - Human Resources',
 'SAAS - Finance/HR - Payroll',
 'SAAS - Finance/HR - Recruiting',
 'SAAS - GovTech',
 'SAAS - Hospitals and Healthcare - Dental',
 'SAAS - Hospitals and Healthcare - Medical',
 'SAAS - Leisure, Sports and Recreation - Fitness',
 'SAAS - Leisure, Sports and Recreation - Hospitality',
 'SAAS - Leisure, Sports and Recreation - Sports Training',
 'SAAS - Leisure, Sports and Recreation - Travel Management',
 'SAAS - Manufacturing',
 'SAAS - Marketing Tech',
 'SAAS - Marketing Tech - Event Management',
 'SAAS - Marketing Tech - Marketing Automation',
 'SAAS - Marketing Tech - SEO',
 'SAAS - NGO',
 'SAAS - Point of Sale',
 'SAAS - Public Safety',
 'SAAS - Sales  - AI/Sales Intelligence',
 'SAAS - Sales  - Chat',
 'SAAS - Sales  - CRM',
 'SAAS - Sales  - eSignature',
 'SAAS - Services Management',
 'SAAS - Transportation',
 'SAAS - Transportation - Shipping',
 'Telecommunications',
 'Transportation',
 'Transportation - Airline',
 'Transportation - Shipping',
 'Venture Capital']

In [51]:
# filter out companies in our training set without an industry as we need that for prediction
training_df = training_df[~training_df['Organization - New Industry'].isnull()] 
training_df

,Unnamed: 0,Organization - ID,Organization - Name,Organization - Website,Organization - CB Description,Organization - Company Type,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,web_description,web_keywords
0,0,440,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,Acquirer,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,NaN,NaN
1,1,898,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...",Acquirer,"Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,NaN,NaN
2,2,930,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...",Acquirer,"Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,FordÂ® is Built for America. Discover the late...,NaN
3,3,965,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,Acquirer,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,"General Motors is home to Chevrolet, Buick, GM...",NaN
4,4,296,AARP,http://www.aarp.org,NaN,Acquirer,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,"AARP is the nation's largest nonprofit, nonpar...","aarp, real possibilities, baby boomers, driver..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,2120,1157,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Acquirer,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,JetBlue offers flights to 90+ destinations wit...,"JetBlue airline, flights, vacations, low airfa..."
2121,2121,1743,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Acquirer,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,Find low fares to top destinations on the offi...,NaN
2122,2122,1933,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,Acquirer,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,NaN,NaN
2123,2123,894,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,Acquirer,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,NaN,NaN
2124,2124,1936,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,Acquirer,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,NaN,NaN

## Data modelling of training data

Construct dummies for categorical fields

In [52]:
training_df = training_df.drop(columns=['Organization - ID', 'Organization - Company Type'])

In [53]:
size_dummies = pd.get_dummies(training_df['Organization - Employee Range'], prefix='size')
training_df = pd.concat([training_df, 
                        size_dummies], axis=1)

training_df

,Unnamed: 0,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,...,web_keywords,size_1-10,size_10001+,size_1001-5000,size_101-250,size_11-50,size_251-500,size_5001-10000,size_501-1000,size_51-100
0,0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,...,NaN,0,0,1,0,0,0,0,0,0
1,1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,...,NaN,0,1,0,0,0,0,0,0,0
2,2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,NaN,0,1,0,0,0,0,0,0,0
3,3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,NaN,0,1,0,0,0,0,0,0,0
4,4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,...,"aarp, real possibilities, baby boomers, driver...",0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,"JetBlue airline, flights, vacations, low airfa...",0,1,0,0,0,0,0,0,0
2121,2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,NaN,0,1,0,0,0,0,0,0,0
2122,2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,...,NaN,0,1,0,0,0,0,0,0,0
2123,2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,...,NaN,0,1,0,0,0,0,0,0,0
2124,2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,...,NaN,0,1,0,0,0,0,0,0,0

Use NLP techniques for feature engineering

In [54]:
from ftfy import fix_text
import nltk
from nltk.stem.snowball import SnowballStemmer
from nltk.tokenize.casual import casual_tokenize
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS as sklearn_stop_words

In [55]:
import re

stemmer = SnowballStemmer("english")
nltk.download("wordnet")
from nltk.stem import WordNetLemmatizer

from collections import defaultdict
lemmatizer = WordNetLemmatizer()

def decontracted(phrase):
    # Taken from https://stackoverflow.com/questions/19790188/expanding-english-language-contractions-in-python

    phrase = re.sub(r"won\'t", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

def tokenize_phrase(text):
    text = str(text)
    text = fix_text(text)
    text = text.encode("ascii", errors="ignore").decode() #remove non ascii chars
    phrase = decontracted(text)
    tokens = casual_tokenize(phrase, reduce_len=True, strip_handles=True)
    normalized_tokens = [x.lower() for x in tokens]  #  convert to all lowercase
    filtered_tokens = [x for x in normalized_tokens if x not in sklearn_stop_words]  #  filter stop words
    filtered_tokens = [x for x in filtered_tokens if x and x not in "- \t\n.\"':[...][\\]()/[br]<>*~,;!?"]  #  filter punctuations
    lemmatized_tokes = [lemmatizer.lemmatize(t) for t in tokens]  # perform lemmatization
    stemmed_tokens = [stemmer.stem(w) for w in filtered_tokens]  # perform stemming
    pos_tokens = nltk.pos_tag(stemmed_tokens)  # perform part-of-speech tagging
    return pos_tokens

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Katrina\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [56]:
training_df['description_tokens'] = training_df['Organization - CB Description'].apply(tokenize_phrase)
training_df['industry_tokens'] = training_df['Organization - CB Industries'].apply(tokenize_phrase)
training_df['keyword_tokens'] = training_df['Keyword'].apply(tokenize_phrase)
training_df['metakeyword_tokens'] = training_df['MetaKeyword'].apply(tokenize_phrase)
training_df['metadescription_tokens'] = training_df['MetaDescription'].apply(tokenize_phrase)
training_df['web_description_tokens'] = training_df['web_description'].apply(tokenize_phrase)
training_df['web_keywords_tokens'] = training_df['web_keywords'].apply(tokenize_phrase)
training_df

,Unnamed: 0,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,...,size_5001-10000,size_501-1000,size_51-100,description_tokens,industry_tokens,keyword_tokens,metakeyword_tokens,metadescription_tokens,web_description_tokens,web_keywords_tokens
0,0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,...,0,0,0,"[(aston, NN), (martin, NN), (lagonda, NN), (gl...","[(automot, NN), (leisur, NN), (manufactur, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
1,1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,...,0,0,0,"[(fiat, JJ), (chrysler, NN), (automobil, NN), ...","[(automot, NN), (industri, NN), (manufactur, N...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
2,2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,0,0,0,"[(ford, NN), (motor, NN), (compani, NN), (auto...","[(app, NN), (automot, NN), (manufactur, NN), (...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(ford, NN), (built, VBN), (america, JJ), (dis...","[(nan, NN)]"
3,3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,0,0,0,"[(general, JJ), (motor, NN), (detroit-bas, JJ)...","[(automot, JJ), (enterpris, JJ), (softwar, NN)...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(general, JJ), (motor, NN), (home, NN), (chev...","[(nan, NN)]"
4,4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,...,0,0,0,"[(nan, NN)]","[(nan, NN)]","[(benefit, NN), (websit, NN), (leav, NN), (pro...","[(nan, NN)]","[(nan, NN)]","[(aarp, JJ), (nation, NN), (largest, JJS), (no...","[(aarp, JJ), (real, JJ), (possibl, NN), (babi,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,0,0,0,"[(jetblu, NN), (airway, RB), (bring, JJ), (hum...","[(transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(jetblu, NN), (offer, NN), (flight, NN), (90,...","[(jetblu, NN), (airlin, NN), (flight, NN), (va..."
2121,2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,0,0,0,"[(southwest, JJS), (airlin, NN), (nyse, NN), (...","[(public, JJ), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(low, JJ), (fare, NN), (destin, NN), (offici,...","[(nan, NN)]"
2122,2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,...,0,0,0,"[(unit, NN), (airlin, NN), (unit, NN), (expres...","[(aerospac, JJ), (hospit, NN), (in-flight, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
2123,2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,...,0,0,0,"[(fedex, NN), (corpor, NN), (provid, NN), (cus...","[(commerci, NN), (real, JJ), (estat, JJ), (e-c...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"
2124,2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,...,0,0,0,"[(unit, NN), (parcel, NN), (servic, VBD), (up,...","[(logist, NN), (messag, NN), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]"

## Construct Bag of Words from tokens

In [57]:
# merge all tokens into 1 column of the DataFrame
tokens_sr = []
for desc_tokens, ind_tokens, key_tokens, metakey_tokens, metadesc_tokens, web_desc_tokens, web_key_tokens in zip(training_df['description_tokens'], training_df['industry_tokens'], training_df['keyword_tokens'], training_df['metakeyword_tokens'], training_df['metadescription_tokens'], training_df['web_description_tokens'], training_df['web_keywords_tokens']):
    tokens = []
    tokens.extend(desc_tokens) if desc_tokens != [('nan', 'NN')] else False
    tokens.extend(ind_tokens) if ind_tokens != [('nan', 'NN')] else False
    tokens.extend(key_tokens) if key_tokens != [('nan', 'NN')] else False
    tokens.extend(metakey_tokens) if metakey_tokens != [('nan', 'NN')] else False
    tokens.extend(metadesc_tokens) if metadesc_tokens != [('nan', 'NN')] else False
    tokens.extend(web_desc_tokens) if web_desc_tokens != [('nan', 'NN')] else False
    tokens.extend(web_key_tokens) if web_key_tokens != [('nan', 'NN')] else False
    tokens_sr.append(tokens)
    
training_df['tokens'] = tokens_sr
training_df

,Unnamed: 0,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,...,size_501-1000,size_51-100,description_tokens,industry_tokens,keyword_tokens,metakeyword_tokens,metadescription_tokens,web_description_tokens,web_keywords_tokens,tokens
0,0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,...,0,0,"[(aston, NN), (martin, NN), (lagonda, NN), (gl...","[(automot, NN), (leisur, NN), (manufactur, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(aston, NN), (martin, NN), (lagonda, NN), (gl..."
1,1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,...,0,0,"[(fiat, JJ), (chrysler, NN), (automobil, NN), ...","[(automot, NN), (industri, NN), (manufactur, N...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(fiat, JJ), (chrysler, NN), (automobil, NN), ..."
2,2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,0,0,"[(ford, NN), (motor, NN), (compani, NN), (auto...","[(app, NN), (automot, NN), (manufactur, NN), (...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(ford, NN), (built, VBN), (america, JJ), (dis...","[(nan, NN)]","[(ford, NN), (motor, NN), (compani, NN), (auto..."
3,3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,0,0,"[(general, JJ), (motor, NN), (detroit-bas, JJ)...","[(automot, JJ), (enterpris, JJ), (softwar, NN)...","[(access, NN)]","[(nan, NN)]","[(nan, NN)]","[(general, JJ), (motor, NN), (home, NN), (chev...","[(nan, NN)]","[(general, JJ), (motor, NN), (detroit-bas, JJ)..."
4,4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,...,0,0,"[(nan, NN)]","[(nan, NN)]","[(benefit, NN), (websit, NN), (leav, NN), (pro...","[(nan, NN)]","[(nan, NN)]","[(aarp, JJ), (nation, NN), (largest, JJS), (no...","[(aarp, JJ), (real, JJ), (possibl, NN), (babi,...","[(benefit, NN), (websit, NN), (leav, NN), (pro..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,0,0,"[(jetblu, NN), (airway, RB), (bring, JJ), (hum...","[(transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(jetblu, NN), (offer, NN), (flight, NN), (90,...","[(jetblu, NN), (airlin, NN), (flight, NN), (va...","[(jetblu, NN), (airway, RB), (bring, JJ), (hum..."
2121,2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,0,0,"[(southwest, JJS), (airlin, NN), (nyse, NN), (...","[(public, JJ), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(low, JJ), (fare, NN), (destin, NN), (offici,...","[(nan, NN)]","[(southwest, JJS), (airlin, NN), (nyse, NN), (..."
2122,2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,...,0,0,"[(unit, NN), (airlin, NN), (unit, NN), (expres...","[(aerospac, JJ), (hospit, NN), (in-flight, JJ)...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(unit, NN), (airlin, NN), (unit, NN), (expres..."
2123,2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,...,0,0,"[(fedex, NN), (corpor, NN), (provid, NN), (cus...","[(commerci, NN), (real, JJ), (estat, JJ), (e-c...","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(fedex, NN), (corpor, NN), (provid, NN), (cus..."
2124,2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,...,0,0,"[(unit, NN), (parcel, NN), (servic, VBD), (up,...","[(logist, NN), (messag, NN), (transport, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(nan, NN)]","[(unit, NN), (parcel, NN), (servic, VBD), (up,..."

In [58]:
# construct bag of words from tokens
from collections import Counter

bag_of_words = []
for tokens in training_df['tokens']:
    bag_of_words.append(Counter(tokens))
    
bows_df = pd.DataFrame.from_records(bag_of_words)
bows_df = bows_df.fillna(0).astype(int)
bows_df

,"(aston, NN)","(martin, NN)","(lagonda, NN)","(global, JJ)","(hold, NN)","(manufactur, NN)","(luxuri, VBP)","(sport, NN)","(car, NN)","(grand, JJ)",...,"(inflight, NN)","(brand-nam, JJ)","(legroom, IN)","(airfar, RB)","(jetblue.com, NN)","(southwest, JJS)","(luv, NN)","(exemplari, JJ)","(southwest.com, NN)","(in-flight, JJ)"
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,0
2121,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,1,1,1,0
2122,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
# construct DataFrame of all features from bag of words and 1 hot encoding of size
feature_df = pd.concat([bows_df, training_df[['size_1-10', 'size_11-50', 'size_51-100', 'size_101-250', 'size_251-500', 'size_501-1000', 'size_1001-5000', 'size_5001-10000', 'size_10001+']]], axis=1)
feature_df

,"(aston, NN)","(martin, NN)","(lagonda, NN)","(global, JJ)","(hold, NN)","(manufactur, NN)","(luxuri, VBP)","(sport, NN)","(car, NN)","(grand, JJ)",...,"(in-flight, JJ)",size_1-10,size_11-50,size_51-100,size_101-250,size_251-500,size_501-1000,size_1001-5000,size_5001-10000,size_10001+
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2121,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2122,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Construct TF-IDF features set

In [60]:
def sanitize_phrase(text):
    text = str(text)
    text = fix_text(text)
    text = text.encode("ascii", errors="ignore").decode() #remove non ascii chars
    phrase = decontracted(text)
    tokens = casual_tokenize(phrase, reduce_len=True, strip_handles=True)
    normalized_tokens = [x.lower() for x in tokens]  #  convert to all lowercase
    filtered_tokens = [x for x in normalized_tokens if x not in sklearn_stop_words]  #  filter stop words
    filtered_tokens = [x for x in filtered_tokens if x and x not in "- \t\n.\"':[...][\\]()/[br]<>*~,;!?"]  #  filter punctuations
    lemmatized_tokes = [lemmatizer.lemmatize(t) for t in tokens]  # perform lemmatization
    stemmed_tokens = [stemmer.stem(w) for w in filtered_tokens]  # perform stemming
    return " ".join(stemmed_tokens)

In [61]:
# tf-idf does not play well with part-of-speech tagging so we need plain text
training_df['sani_desc'] = training_df['Organization - CB Description'].apply(sanitize_phrase)
training_df['sani_indust'] = training_df['Organization - CB Industries'].apply(sanitize_phrase)
training_df['sani_key'] = training_df['Keyword'].apply(sanitize_phrase)
training_df['sani_metakey'] = training_df['MetaKeyword'].apply(sanitize_phrase)
training_df['sani_metadesc'] = training_df['MetaDescription'].apply(sanitize_phrase)
training_df['sani_webdesc'] = training_df['web_description'].apply(sanitize_phrase)
training_df['sani_webkey'] = training_df['web_keywords'].apply(sanitize_phrase)
training_df

,Unnamed: 0,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,...,web_description_tokens,web_keywords_tokens,tokens,sani_desc,sani_indust,sani_key,sani_metakey,sani_metadesc,sani_webdesc,sani_webkey
0,0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,...,"[(nan, NN)]","[(nan, NN)]","[(aston, NN), (martin, NN), (lagonda, NN), (gl...",aston martin lagonda global hold manufactur lu...,automot leisur manufactur product design recre...,nan,nan,nan,nan,nan
1,1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,...,"[(nan, NN)]","[(nan, NN)]","[(fiat, JJ), (chrysler, NN), (automobil, NN), ...",fiat chrysler automobil design engin manufactu...,automot industri manufactur manufactur transport,nan,nan,nan,nan,nan
2,2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,"[(ford, NN), (built, VBN), (america, JJ), (dis...","[(nan, NN)]","[(ford, NN), (motor, NN), (compani, NN), (auto...",ford motor compani automot compani develop man...,app automot manufactur transport,access,nan,nan,ford built america discov latest lineup new fo...,nan
3,3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,"[(general, JJ), (motor, NN), (home, NN), (chev...","[(nan, NN)]","[(general, JJ), (motor, NN), (detroit-bas, JJ)...",general motor detroit-bas mutin corpor manufac...,automot enterpris softwar manufactur transport,access,nan,nan,general motor home chevrolet buick gmc & cadil...,nan
4,4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,...,"[(aarp, JJ), (nation, NN), (largest, JJS), (no...","[(aarp, JJ), (real, JJ), (possibl, NN), (babi,...","[(benefit, NN), (websit, NN), (leav, NN), (pro...",nan,nan,benefit websit leav provid cancel condit term ...,nan,nan,aarp nation largest nonprofit nonpartisan orga...,aarp real possibl babi boomer driver safeti 50...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,"[(jetblu, NN), (offer, NN), (flight, NN), (90,...","[(jetblu, NN), (airlin, NN), (flight, NN), (va...","[(jetblu, NN), (airway, RB), (bring, JJ), (hum...",jetblu airway bring human air travel,transport,nan,nan,nan,jetblu offer flight 90 + destin free inflight ...,jetblu airlin flight vacat low airfar cheap fa...
2121,2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,"[(low, JJ), (fare, NN), (destin, NN), (offici,...","[(nan, NN)]","[(southwest, JJS), (airlin, NN), (nyse, NN), (...",southwest airlin nyse luv continu differenti c...,public transport,nan,nan,nan,low fare destin offici southwest airlin websit...,nan
2122,2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,...,"[(nan, NN)]","[(nan, NN)]","[(unit, NN), (airlin, NN), (unit, NN), (expres...","unit airlin unit express oper approxim 5,000 f...",aerospac hospit in-flight entertain public tra...,nan,nan,nan,nan,nan
2123,2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,...,"[(nan, NN)]","[(nan, NN)]","[(fedex, NN), (corpor, NN), (provid, NN), (cus...",fedex corpor provid custom busi worldwid broad...,commerci real estat e-commerc logist print shi...,nan,nan,nan,nan,nan
2124,2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,...,"[(nan, NN)]","[(nan, NN)]","[(unit, NN), (parcel, NN), (servic, VBD), (up,...",unit parcel servic up packag deliveri compani ...,logist messag transport,nan,nan,nan,nan,nan

In [62]:
training_df['sanitized'] = training_df['sani_desc'].apply(lambda x: '' if x == 'nan' else x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_indust'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_key'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_metakey'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_metadesc'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_webdesc'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df['sanitized'] = training_df['sanitized'] + training_df['sani_webkey'].apply(lambda x: '' if x == 'nan' else ' ' + x)
training_df

,Unnamed: 0,Organization - Name,Organization - Website,Organization - CB Description,Organization - CB Industries,Organization - Employee Range,Organization - New Industry,Keyword,MetaKeyword,MetaDescription,...,web_keywords_tokens,tokens,sani_desc,sani_indust,sani_key,sani_metakey,sani_metadesc,sani_webdesc,sani_webkey,sanitized
0,0,Aston Martin Lagonda,https://www.astonmartin.comen-us/,Aston Martin Lagonda Global Holdings manufactu...,"Automotive, Leisure, Manufacturing, Product De...",1001-5000,Automotive - Car Manufacturing,NaN,NaN,NaN,...,"[(nan, NN)]","[(aston, NN), (martin, NN), (lagonda, NN), (gl...",aston martin lagonda global hold manufactur lu...,automot leisur manufactur product design recre...,nan,nan,nan,nan,nan,aston martin lagonda global hold manufactur lu...
1,1,Fiat Chrysler Auto,https://www.fcagroup.comen-US/Pages/home.aspx,"Fiat Chrysler Automobiles designs, engineers, ...","Automotive, Industrial Manufacturing, Manufact...",10001+,Automotive - Car Manufacturing,NaN,NaN,NaN,...,"[(nan, NN)]","[(fiat, JJ), (chrysler, NN), (automobil, NN), ...",fiat chrysler automobil design engin manufactu...,automot industri manufactur manufactur transport,nan,nan,nan,nan,nan,fiat chrysler automobil design engin manufactu...
2,2,Ford Motor Company,https://www.ford.com,"Ford Motor Company, an automotive company, dev...","Apps, Automotive, Manufacturing, Transportation",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,"[(nan, NN)]","[(ford, NN), (motor, NN), (compani, NN), (auto...",ford motor compani automot compani develop man...,app automot manufactur transport,access,nan,nan,ford built america discov latest lineup new fo...,nan,ford motor compani automot compani develop man...
3,3,General Motors Company,https://www.gm.com,General Motors is a Detroit-based mutinational...,"Automotive, Enterprise Software, Manufacturing...",10001+,Automotive - Car Manufacturing,access,NaN,NaN,...,"[(nan, NN)]","[(general, JJ), (motor, NN), (detroit-bas, JJ)...",general motor detroit-bas mutin corpor manufac...,automot enterpris softwar manufactur transport,access,nan,nan,general motor home chevrolet buick gmc & cadil...,nan,general motor detroit-bas mutin corpor manufac...
4,4,AARP,http://www.aarp.org,NaN,NaN,NaN,"Civic, Non-Profit and Membership Groups","benefits, website, leaving, provider, cancel, ...",NaN,NaN,...,"[(aarp, JJ), (real, JJ), (possibl, NN), (babi,...","[(benefit, NN), (websit, NN), (leav, NN), (pro...",nan,nan,benefit websit leav provid cancel condit term ...,nan,nan,aarp nation largest nonprofit nonpartisan orga...,aarp real possibl babi boomer driver safeti 50...,benefit websit leav provid cancel condit term...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,2120,JetBlue,https://www.jetblue.com,JetBlue airways to bring humanity back to air ...,Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,"[(jetblu, NN), (airlin, NN), (flight, NN), (va...","[(jetblu, NN), (airway, RB), (bring, JJ), (hum...",jetblu airway bring human air travel,transport,nan,nan,nan,jetblu offer flight 90 + destin free inflight ...,jetblu airlin flight vacat low airfar cheap fa...,jetblu airway bring human air travel transport...
2121,2121,Southwest Airlines,https://www.southwest.com,Southwest Airlines (NYSE: LUV) continues to di...,Public Transportation,10001+,Transportation - Airline,NaN,NaN,NaN,...,"[(nan, NN)]","[(southwest, JJS), (airlin, NN), (nyse, NN), (...",southwest airlin nyse luv continu differenti c...,public transport,nan,nan,nan,low fare destin offici southwest airlin websit...,nan,southwest airlin nyse luv continu differenti c...
2122,2122,United Continental Holdings,https://www.united.comen/us,United Airlines and United Express operate app...,"Aerospace, Hospitality, In-Flight Entertainmen...",10001+,Transportation - Airline,NaN,NaN,NaN,...,"[(nan, NN)]","[(unit, NN), (airlin, NN), (unit, NN), (expres...","unit airlin unit express oper approxim 5,000 f...",aerospac hospit in-flight entertain public tra...,nan,nan,nan,nan,nan,"unit airlin unit express oper approxim 5,000 f..."
2123,2123,FedEx Corporation,https://www.fedex.comen-us/home.html,FedEx Corporation provides customers and busin...,"Commercial Real Estate, E-Commerce, Logistics,...",10001+,Transportation - Shipping,NaN,NaN,NaN,...,"[(nan, NN)]","[(fedex, NN), (corpor, NN), (provid, NN), (cus...",fedex corpor provid custom busi worldwid broad...,commerci real estat e-commerc logist print shi...,nan,nan,nan,nan,nan,fedex corpor provid custom busi worldwid broad...
2124,2124,UPS,https://www.ups.comus/en/global.page,United Parcel Service (UPS) is a package deliv...,"Logistics, Messaging, Transportation",10001+,Transportation - Shipping,NaN,NaN,NaN,...,"[(nan, NN)]","[(unit, NN), (parcel, NN), (servic, VBD), (up,...",unit parcel servic up packag deliveri compani ...,logist messag transport,nan,nan,nan,nan,nan,unit parcel servic up packag deliveri compani ...

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=True)
tv_matrix = tv.fit_transform(training_df['sanitized'])
tv_matrix = tv_matrix.toarray()
vocab = tv.get_feature_names()
tfidf_df = pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)
tfidf_df

,00,000,0001,0004,003b71,00pm,0101,011,0155,01t00,...,zoom,zu,zucchetti,zucchini,zulili,zumba,zuno,zur,zycron,zynlo
0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2121,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2122,0.0,0.16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2123,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2124,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
# construct DataFrame of all features from TF-IDF and 1 hot encoding of size
tfidf_feature_df = pd.concat([tfidf_df, training_df[['size_1-10', 'size_11-50', 'size_51-100', 'size_101-250', 'size_251-500', 'size_501-1000', 'size_1001-5000', 'size_5001-10000', 'size_10001+']]], axis=1)
tfidf_feature_df

,00,000,0001,0004,003b71,00pm,0101,011,0155,01t00,...,zynlo,size_1-10,size_11-50,size_51-100,size_101-250,size_251-500,size_501-1000,size_1001-5000,size_5001-10000,size_10001+
0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,1,0,0
1,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
3,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
4,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2120,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2121,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2122,0.0,0.16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2123,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1
2124,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0,0,0,0,0,0,1

At this point we have a feature DataFrame for both bag of words and TF-IDF. We can now construct models using these features.

## Construct Naive Bayes model using Bag of Words

In [65]:
# split the data into train and test sets
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()
x_train, x_test, y_train, y_test = train_test_split(feature_df, training_df['Organization - New Industry'], test_size=0.2, random_state=5)
nb.fit(x_train, y_train)
predicted = nb.predict(x_test)
accuracy_score = metrics.accuracy_score(predicted, y_test)
print('Test accuracy is ' + str('{:04.2f}'.format(accuracy_score * 100)) + '%')

Test accuracy is 35.53%

## Oversample and try Naive Bayes using Bag of Words

In [66]:
# same as above but with oversampling
from imblearn.over_sampling import RandomOverSampler 

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)
nb = MultinomialNB()
nb.fit(x_train, y_train)
predicted = nb.predict(x_test)
accuracy_score = metrics.accuracy_score(predicted, y_test)

print('The test accuracy is: ', accuracy_score*100 ,'%')

The test accuracy is:  86.72086720867209 %

## Construct Naive Bayes model using TF-IDF

In [67]:
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()
x_train, x_test, y_train, y_test = train_test_split(tfidf_feature_df, training_df['Organization - New Industry'], test_size=0.2, random_state=5)
nb.fit(x_train, y_train)
predicted = nb.predict(x_test)
accuracy_score = metrics.accuracy_score(predicted, y_test)
print('Test accuracy is ' + str('{:04.2f}'.format(accuracy_score * 100)) + '%')

Test accuracy is 26.35%

## Oversample and try Naive Bayes using TF-IDF

In [68]:
# same as above but with oversampling
from imblearn.over_sampling import RandomOverSampler 

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)
nb = MultinomialNB()
nb.fit(x_train, y_train)
predicted = nb.predict(x_test)
accuracy_score = metrics.accuracy_score(predicted, y_test)

print('The test accuracy is: ', accuracy_score*100 ,'%')

The test accuracy is:  83.87533875338752 %

## Boosted Decision Stumps using Bag of Words

In [69]:
from sklearn.ensemble import AdaBoostClassifier

x_train, x_test, y_train, y_test = train_test_split(feature_df, training_df['Organization - New Industry'], test_size=0.2, random_state=5)
adaboost = AdaBoostClassifier(n_estimators=400, learning_rate=1, algorithm='SAMME')
adaboost.fit(x_train, y_train)
prediction = adaboost.score(x_test, y_test)

print('The test accuracy is: ', prediction*100 ,'%')

The test accuracy is:  22.823529411764707 %

## Boosted Decision Stumps Using TF-IDF

In [70]:
from sklearn.ensemble import AdaBoostClassifier

x_train, x_test, y_train, y_test = train_test_split(tfidf_feature_df, training_df['Organization - New Industry'], test_size=0.2, random_state=5)
adaboost = AdaBoostClassifier(n_estimators=400, learning_rate=1, algorithm='SAMME')
adaboost.fit(x_train, y_train)
prediction = adaboost.score(x_test, y_test)

print('The test accuracy is: ', prediction*100 ,'%')

The test accuracy is:  21.64705882352941 %

## Oversample data and try boosted bag of words decision stumps

In [71]:
from imblearn.over_sampling import RandomOverSampler 

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)
adaboost = AdaBoostClassifier(n_estimators=400, learning_rate=1, algorithm='SAMME')
adaboost.fit(x_train, y_train)
prediction = adaboost.score(x_test, y_test)

print('The test accuracy is: ', prediction*100 ,'%')

The test accuracy is:  33.694670280036135 %

## Oversample and try boosted TF-IDF decision stumps

In [72]:
from imblearn.over_sampling import RandomOverSampler 

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)
adaboost = AdaBoostClassifier(n_estimators=400, learning_rate=1, algorithm='SAMME')
adaboost.fit(x_train, y_train)
prediction = adaboost.score(x_test, y_test)

print('The test accuracy is: ', prediction*100 ,'%')

The test accuracy is:  29.40379403794038 %

## Construct Random Forest using Bag of Words

In [73]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)
rand_forest_fit = RandomForestClassifier(n_estimators=1000, 
                                         criterion="gini", 
                                         max_depth=100, 
                                         min_samples_split=3, 
                                         min_samples_leaf=2,
                                         random_state=42)
rand_forest_fit.fit(x_train, y_train)
print("Random Forest - Test accuracy: ", round(accuracy_score(y_test, rand_forest_fit.predict(x_test)), 3))

Random Forest - Test accuracy:  0.426

## Oversample and try Random Forest with Bag of Words

In [74]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)
rand_forest_fit = RandomForestClassifier(n_estimators=1000, 
                                         criterion="gini", 
                                         max_depth=100, 
                                         min_samples_split=3, 
                                         min_samples_leaf=2,
                                         random_state=42)
rand_forest_fit.fit(x_train, y_train)
print("Random Forest - Test accuracy: ", round(accuracy_score(y_test, rand_forest_fit.predict(x_test)), 3))

Random Forest - Test accuracy:  0.901

## Construct Random Forest using TF-IDF

In [75]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_feature_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)
rand_forest_fit = RandomForestClassifier(n_estimators=1000, 
                                         criterion="gini", 
                                         max_depth=100, 
                                         min_samples_split=3, 
                                         min_samples_leaf=2,
                                         random_state=42)
rand_forest_fit.fit(x_train, y_train)
print("Random Forest - Test accuracy: ", round(accuracy_score(y_test, rand_forest_fit.predict(x_test)), 3))

Random Forest - Test accuracy:  0.456

## Oversample and try Random Forest with TF-IDF

In [76]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)
rand_forest_fit = RandomForestClassifier(n_estimators=1000, 
                                         criterion="gini", 
                                         max_depth=100, 
                                         min_samples_split=3, 
                                         min_samples_leaf=2,
                                         random_state=42)
rand_forest_fit.fit(x_train, y_train)
print("Random Forest - Test accuracy: ", round(accuracy_score(y_test, rand_forest_fit.predict(x_test)), 3))

Random Forest - Test accuracy:  0.908

## Construct SVC using Bag of Words

In [80]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)
clf = SVC(random_state=42)
clf.fit(x_train, y_train)
print("SVC - Test accuracy: ", round(accuracy_score(y_test, clf.predict(x_test)), 3))

SVC - Test accuracy:  0.271

## Oversample and try SVC with Bag of Words

In [81]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)
clf = SVC(random_state=42)
clf.fit(x_train, y_train)
print("SVC - Test accuracy: ", round(accuracy_score(y_test, clf.predict(x_test)), 3))

SVC - Test accuracy:  0.761

## Construct SVC using TF-IDF

In [82]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)
clf = SVC(random_state=42)
clf.fit(x_train, y_train)
print("SVC - Test accuracy: ", round(accuracy_score(y_test, clf.predict(x_test)), 3))

SVC - Test accuracy:  0.358

## Oversample and try SVC with TF-IDF

In [83]:
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)
clf = SVC(random_state=42)
clf.fit(x_train, y_train)
print("SVC - Test accuracy: ", round(accuracy_score(y_test, clf.predict(x_test)), 3))

SVC - Test accuracy:  0.908

## Bagging of Decision Tree Classifier with Bag of Words

In [85]:
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

ensemble_size = 10
base_learners = []
dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)

train_size = len(x_train)
x_train = x_train.to_numpy()
x_test = x_test.to_numpy() 
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

ensemble = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                             n_estimators=ensemble_size,
                             oob_score=True)
ensemble.fit(x_train, y_train)
ensemble_predictions = ensemble.predict(x_test)
ensemble_acc = accuracy_score(y_test, ensemble_predictions)

print('Bagging test accuracy: ', ensemble_acc)

C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /

Bagging test accuracy:  0.4235294117647059

## Oversample and try Bagging of Decision Tree Classifier with Bag of Words

In [87]:
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

ensemble_size = 10
base_learners = []
dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)

train_size = len(x_train)
x_train = x_train.to_numpy()
x_test = x_test.to_numpy() 
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

ensemble = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                             n_estimators=ensemble_size,
                             oob_score=True)
ensemble.fit(x_train, y_train)
ensemble_predictions = ensemble.predict(x_test)
ensemble_acc = accuracy_score(y_test, ensemble_predictions)

print('Bagging test accuracy: ', ensemble_acc)

C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /

Bagging test accuracy:  0.9001806684733514

## Bagging of Decision Tree Classifier with TF-IDF

In [86]:
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

ensemble_size = 10
base_learners = []
dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)

train_size = len(x_train)
x_train = x_train.to_numpy()
x_test = x_test.to_numpy() 
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

ensemble = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                             n_estimators=ensemble_size,
                             oob_score=True)
ensemble.fit(x_train, y_train)
ensemble_predictions = ensemble.predict(x_test)
ensemble_acc = accuracy_score(y_test, ensemble_predictions)

print('Bagging test accuracy: ', ensemble_acc)

C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /

Bagging test accuracy:  0.46588235294117647

## Oversample and try Bagging of Decision Tree Classifier with TF-IDF

In [88]:
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

ensemble_size = 10
base_learners = []
dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)

train_size = len(x_train)
x_train = x_train.to_numpy()
x_test = x_test.to_numpy() 
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

ensemble = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                             n_estimators=ensemble_size,
                             oob_score=True)
ensemble.fit(x_train, y_train)
ensemble_predictions = ensemble.predict(x_test)
ensemble_acc = accuracy_score(y_test, ensemble_predictions)

print('Bagging test accuracy: ', ensemble_acc)

C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /

Bagging test accuracy:  0.8988256549232159

## MLPClassifier with Bag of Words

In [89]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)
mlp = MLPClassifier(hidden_layer_sizes =(100, ), solver='lbfgs', random_state=42)
mlp.fit(x_train, y_train)
ensemble_predictions = mlp.predict(x_test)
acc = accuracy_score(y_test, ensemble_predictions)
print('MLPClassifier test accuracy: ', acc)

MLPClassifier test accuracy:  0.4894117647058824

## Oversample and try MLPClassifier with Bag of Words

In [90]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)

mlp = MLPClassifier(hidden_layer_sizes =(100, ), solver='lbfgs', random_state=42)
mlp.fit(x_train, y_train)
ensemble_predictions = mlp.predict(x_test)
acc = accuracy_score(y_test, ensemble_predictions)
print('MLPClassifier test accuracy: ', acc)

MLPClassifier test accuracy:  0.9159891598915989

## MLPClassifier with TF-IDF

In [91]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)
mlp = MLPClassifier(hidden_layer_sizes =(100, ), solver='lbfgs', random_state=42)
mlp.fit(x_train, y_train)
ensemble_predictions = mlp.predict(x_test)
acc = accuracy_score(y_test, ensemble_predictions)
print('MLPClassifier test accuracy: ', acc)

MLPClassifier test accuracy:  0.4894117647058824

C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

## Oversample and try MLPClassifier with TF-IDF

In [92]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_df
ros = RandomOverSampler(random_state=42)
independent_resample, dependent_resample = ros.fit_resample(independent_df, dependent_df)
x_train, x_test, y_train, y_test = train_test_split(independent_resample, dependent_resample, test_size=0.2, random_state=5)

mlp = MLPClassifier(hidden_layer_sizes =(100, ), solver='lbfgs', random_state=42)
mlp.fit(x_train, y_train)
ensemble_predictions = mlp.predict(x_test)
acc = accuracy_score(y_test, ensemble_predictions)
print('MLPClassifier test accuracy: ', acc)

MLPClassifier test accuracy:  0.8879855465221319

C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

## Stacking with prior models and Bag of Words

In [101]:
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.naive_bayes import MultinomialNB
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

dependent_df = training_df['Organization - New Industry']
independent_df = feature_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)

x_train = x_train.to_numpy()
x_test = x_test.to_numpy() 
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

base_learners = []

nb = MultinomialNB()
base_learners.append(nb)

adaboost = AdaBoostClassifier(n_estimators=400, learning_rate=1, algorithm='SAMME')
base_learners.append(adaboost)

rf = RandomForestClassifier(n_estimators=1000, 
                            criterion="gini", 
                            max_depth=100, 
                            min_samples_split=3, 
                            min_samples_leaf=2,
                            random_state=42)
base_learners.append(rf)

svc = SVC(random_state=42, probability=True)
base_learners.append(svc)

bagging = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                             n_estimators=ensemble_size,
                             oob_score=True)
base_learners.append(bagging)

mlp = MLPClassifier(hidden_layer_sizes =(100, ), solver='lbfgs', random_state=42)
base_learners.append(mlp)

meta_learner = LogisticRegression(solver='lbfgs')
meta_data = np.zeros((len(base_learners), len(x_train)))
meta_targets = pd.Series(np.zeros(len(x_train)))

# Create the cross-validation folds
KF = KFold(n_splits=5)
meta_index = 0
for train_indices, test_indices in KF.split(x_train):
    # Train each learner on the K-1 folds and create meta data for the Kth fold
    for i in range(len(base_learners)):
        learner = base_learners[i]

        learner.fit(x_train[train_indices], y_train[train_indices])
        predictions = learner.predict_proba(x_train[test_indices])[:,0]

        meta_data[i][meta_index:meta_index+len(test_indices)] = predictions

    meta_targets[meta_index:meta_index+len(test_indices)] = y_train[test_indices]
    meta_index += len(test_indices)
    
# Transpose the meta data to be fed into the meta learner
meta_data = meta_data.transpose()

# Create the meta data for the test set and evaluate the base learners
test_meta_data = np.zeros((len(base_learners), len(x_test)))
base_acc = []
for i in range(len(base_learners)):
    learner = base_learners[i]
    learner.fit(x_train, y_train)
    predictions = learner.predict_proba(x_test)[:,0]
    test_meta_data[i] = predictions

    acc = metrics.accuracy_score(y_test, learner.predict(x_test))

    base_acc.append(acc)
    
test_meta_data = test_meta_data.transpose()

# Fit the meta learner on the train set and evaluate it on the test set
meta_learner.fit(meta_data, meta_targets)
ensemble_predictions = meta_learner.predict(test_meta_data)

acc = metrics.accuracy_score(y_test, ensemble_predictions)

# Print the results
print('Acc  Name')
print('-'*20)
for i in range(len(base_learners)):
    learner = base_learners[i]

    print(f'{base_acc[i]:.2f} {learner.__class__.__name__}')
print(f'{acc:.2f} Ensemble')

C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /

Acc  Name
--------------------
0.36 MultinomialNB
0.22 AdaBoostClassifier
0.43 RandomForestClassifier
0.27 SVC
0.43 BaggingClassifier
0.49 MLPClassifier
0.05 Ensemble

## Stacking with prior models and TF-IDF

In [102]:
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.naive_bayes import MultinomialNB
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

dependent_df = training_df['Organization - New Industry']
independent_df = tfidf_df
x_train, x_test, y_train, y_test = train_test_split(independent_df, dependent_df, test_size=0.2, random_state=5)

x_train = x_train.to_numpy()
x_test = x_test.to_numpy() 
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

base_learners = []

nb = MultinomialNB()
base_learners.append(nb)

adaboost = AdaBoostClassifier(n_estimators=400, learning_rate=1, algorithm='SAMME')
base_learners.append(adaboost)

rf = RandomForestClassifier(n_estimators=1000, 
                            criterion="gini", 
                            max_depth=100, 
                            min_samples_split=3, 
                            min_samples_leaf=2,
                            random_state=42)
base_learners.append(rf)

svc = SVC(random_state=42, probability=True)
base_learners.append(svc)

bagging = BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                             n_estimators=ensemble_size,
                             oob_score=True)
base_learners.append(bagging)

mlp = MLPClassifier(hidden_layer_sizes =(100, ), solver='lbfgs', random_state=42)
base_learners.append(mlp)

meta_learner = LogisticRegression(solver='lbfgs')
meta_data = np.zeros((len(base_learners), len(x_train)))
meta_targets = pd.Series(np.zeros(len(x_train)))

# Create the cross-validation folds
KF = KFold(n_splits=5)
meta_index = 0
for train_indices, test_indices in KF.split(x_train):
    # Train each learner on the K-1 folds and create meta data for the Kth fold
    for i in range(len(base_learners)):
        learner = base_learners[i]

        learner.fit(x_train[train_indices], y_train[train_indices])
        predictions = learner.predict_proba(x_train[test_indices])[:,0]

        meta_data[i][meta_index:meta_index+len(test_indices)] = predictions

    meta_targets[meta_index:meta_index+len(test_indices)] = y_train[test_indices]
    meta_index += len(test_indices)
    
# Transpose the meta data to be fed into the meta learner
meta_data = meta_data.transpose()

# Create the meta data for the test set and evaluate the base learners
test_meta_data = np.zeros((len(base_learners), len(x_test)))
base_acc = []
for i in range(len(base_learners)):
    learner = base_learners[i]
    learner.fit(x_train, y_train)
    predictions = learner.predict_proba(x_test)[:,0]
    test_meta_data[i] = predictions

    acc = metrics.accuracy_score(y_test, learner.predict(x_test))

    base_acc.append(acc)
    
test_meta_data = test_meta_data.transpose()

# Fit the meta learner on the train set and evaluate it on the test set
meta_learner.fit(meta_data, meta_targets)
ensemble_predictions = meta_learner.predict(test_meta_data)

acc = metrics.accuracy_score(y_test, ensemble_predictions)

# Print the results
print('Acc  Name')
print('-'*20)
for i in range(len(base_learners)):
    learner = base_learners[i]

    print(f'{base_acc[i]:.2f} {learner.__class__.__name__}')
print(f'{acc:.2f} Ensemble')

C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:640: UserWarning: Some inputs do not have OOB scores. This probably means too few estimators were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\ensemble\_bagging.py:644: RuntimeWarning: invalid value encountered in true_divide
  oob_decision_function = (predictions /
C:\tools\Anaconda3\envs\capstone\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

Acc  Name
--------------------
0.29 MultinomialNB
0.16 AdaBoostClassifier
0.45 RandomForestClassifier
0.36 SVC
0.49 BaggingClassifier
0.49 MLPClassifier
0.05 Ensemble

## Clustering

Determine how many clusters are best

In [31]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

k_summary = {}
k_values = []
silhouette_values = []

for k in range(2, industries.__len__()):  # check between 2 and 100 clusters
    k_means_fit = KMeans(n_clusters=k, max_iter=300)
    k_means_fit.fit(feature_df)
    k_values.append(k)
    silhouette_values.append(silhouette_score(feature_df, k_means_fit.labels_, metric='euclidean'))
    
k_summary['k-values'] = k_values
k_summary['silhouette-values'] = silhouette_values
pd.DataFrame(k_summary)

    k-values  silhouette-values
0          2           0.894564
1          3           0.506195
2          4           0.426785
3          5           0.491415
4          6           0.302703
..       ...                ...
93        95           0.218584
94        96           0.177274
95        97           0.178716
96        98           0.156446
97        99           0.173312

[98 rows x 2 columns]

We would likely want to take the second highest number of clusters based on the min silhouette values. This would yield 89 industries which is very close to the number of industries currently employed - 100. Based on the training data that we have it is likely that the number of industries outlined already is close to ideal.